body {
  font-family: "Avenir Next Cyr W00 Regular", Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif;
  color: #0e1416;
  font-size: 1.33rem;
  font-weight: 200;
  opacity: 1;
  transition: 1s opacity;
  padding-left: 60px;
  padding-right: 60px;
  -webkit-overflow-scrolling: touch;
  max-width: 2300px;
  margin-left: auto;
  margin-right: auto
}

body.fade-out {
  opacity: 0;
  transition: none
}

h1 {
  font-family: "Avenir Next Cyr W00 Bold", Helvetica, Arial, sans-serif;
  font-size: 3rem;
  line-height: 4.5rem;
  margin-bottom: 1rem;
}
h2 {
  font-family: "Avenir Next Cyr W00 Bold", Helvetica, Arial, sans-serif;
  font-size: 3.17rem;
  line-height: 3.17rem;
  margin-bottom: 1rem;
}
h3 {
  font-family: "Avenir Next Cyr W00 Bold", Helvetica, Arial, sans-serif;
  font-size: 1.67rem;
  line-height: 2.25rem;
}
h4 {
  font-family: "Avenir Next Cyr W00 Bold", Helvetica, Arial, sans-serif;
  font-size: 1.33rem;
  line-height: 2.2rem;
}
h5 {
  font-family: "Avenir Next Cyr W00 Bold", Helvetica, Arial, sans-serif;
  font-size: 1.16rem;
  line-height: 1.5rem;
}
li {
  font-family: "Avenir Next Cyr W00 Regular", Helvetica, Arial, sans-serif;
  font-size: 1.33rem;
  line-height: 2.2rem;
}
p, p.txt-md, .txt-md {
  font-family: "Avenir Next Cyr W00 Regular", Helvetica, Arial, sans-serif;
  font-size: 1.33rem;
  line-height: 2.2rem;
}

p.txt-sm, .txt-sm {
  font-family: "Avenir Next Cyr W00 Regular", Helvetica, Arial, sans-serif;
  font-size: 1.16rem;
  line-height: 1.5rem;
}
p.txt-lg, .txt-lg {
  font-family: "Avenir Next Cyr W00 Regular", Helvetica, Arial, sans-serif;
  font-size: 1.67rem;
  line-height: 2.50rem;
}
a.txt-lg, p.txt-lg>a, .txt-lg>a {
  font-family: "Avenir Next Cyr W00 Bold", Helvetica, Arial, sans-serif;
  font-size: 1.67rem;
  line-height: 2.50rem;
  text-decoration: underline;
}
a {
  color: #078baa;
}

.nav-tabs {
  border-bottom: 1px solid #dddddd;
}
.nav {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
ol, ul, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}
.nav-tabs .nav-item {
  margin-bottom: -1px;
}
.nav-item {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #464a4c;
  background-color: white;
  border-color: #dddddd #dddddd white;
}


.nav-item>a {
  color: black;
  display: flex;
  margin: 0 0 -1px 0;
  padding: 0.5em 1em;
  position: relative;
}



hr {
  color: #dee2e5;
  margin: 30px 0;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,0.1);
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}


@media (min-width: 768px){
  .hidden-md-up {
      display: none !important;
    }
}
@media (max-width: 767px){
  .hidden-sm-down {
    display: none !important;
  }
}

.clearfix {
  overflow: auto;
}
